{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}{{ food.title }} | {% endblock  %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if food is not None %}
            <div class="grid grid-2">
                <img class="image-block" src="{% static food.image_relative_url %}">
                <div>
                    <h3>{{ food.title }}</h3>
                    {% if food.special_price is not None %}
                        <p>
                            <h6>
                                <span>{{ food.special_price }} บาท </span>
                                <del class="text-gray">{{ food.price|floatformat:'g' }} บาท </del>
                            </h6>
                        </p>
                    {% else %}
                            <p>
                                <h6>
                                    {{ food.price|floatformat:'g' }} บาท
                                </h6>
                            </p>
                    {% endif %}
                    {% if food.is_premium %}
                        <p>
                            <h6>
                                *** เมนูสุดพิเศษ Premium
                            </h6>
                        </p>
                    {% endif %}
                    {% if food.promotion_end_at is not None %}
                        <p>
                            <h6>
                                โปรโมชั่นถึงวันที่ {{ food.promotion_end_at | date:'j N Y'}}
                            </h6>
                        </p>
                    {% endif %}
                    <p>{{ food.description }}</p>
                    {% if user.is_authenticated %}
                        {% if not is_favorite_food %}
                            <form action="{% url 'favorite_food' food.id  %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div>
                                    <button class="button button-pimary" type="submit" >เพิ่มเมนูโปรด</button>
                                </div>
                            </form>
                        {% else %}
                            <p><h6>นี่คือเมนูโปรดของคุณ</h6></p>
                        {% endif %}
                    {% else %}
                        <p>
                            <a class="button button-pimary" href="{% url 'subscription' %}">ลงทะเบียนรับโปรโมชั่น</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% else%}
            <p>ไม่พบ เมนูนี้</p>
        {% endif %}
    </div>
</section>
{% endblock %}