{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}{{ food.title }} | {% endblock  %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if food is not None %}
            <div class="grid grid-2">
                <img class="image-block" src="{% static food.image_relative_url %}">
                <div>
                    <h3>{{ food.title }}</h3>
                    {% if food.special_price is not None %}
                        <p>
                            <h6>
                                <span>{{ food.special_price }} บาท </span>
                                <del class="text-gray">{{ food.price|floatformat:'g' }} บาท </del>
                            </h6>
                        </p>
                    {% else %}
                            <p>
                                <h6>
                                    {{ food.price|floatformat:'g' }} บาท
                                </h6>
                            </p>
                    {% endif %}
                    {% if food.is_premium %}
                        <p>
                            <h6>
                                *** เมนูสุดพิเศษ Premium
                            </h6>
                        </p>
                    {% endif %}
                    <p>
                        <h6>
                            โปรโมชั่นถึงวันที่ {{ food.promotion_end_at | date:'j N Y'}}
                        </h6>
                    </p>
                    <p>
                        <h5>
                            🍜 รสหมูสับคือความอร่อยที่หลายคนยอมรับ
                        </h5>
                        <h6>
                            สำหรับคนรักมาม่าและหมูสับ มาม่ารสหมูสับจะทำให้คุณติดใจในทุกจาน. รสชาติที่นุ่มนวลของเส้นมาม่าที่เคี้ยวยาว พร้อมกับรสหมูสับที่ถูกปรุงอย่างลงตัว จะทำให้ประสบการณ์การทานมาม่าของคุณเป็นที่จดจำ
                            มาม่ารสหมูสับไม่เพียงแต่อร่อย แต่ยังเป็นที่โปรดปรานของคนหลายคน. ความอร่อยที่มีชั้นช่วยของรสหมูสับทำให้มันเป็นเมนูที่ตอบโจทย์ทุกรสความอร่อย
                            ไม่ว่าคุณจะเป็นคนรักมาม่าหรือไม่ เมื่อลองมาม่ารสหมูสับ คุณจะตกหลุมรักทันที! รีบมาลิ้มลองและตะลุยสู่โลกของความอร่อยกับเมนูพิเศษนี้เลย! 🌟  
                        </h6>
                    </p>
                    <p>
                        <a class="button button-pimary" href="{% url 'subscription' %}">ลงทะเบียนรับโปรโมชั่น</a>
                    </p>
                </div>
            </div>
        {% else%}
            <p>ไม่พบ เมนูนี้</p>
        {% endif %}
    </div>
</section>
{% endblock %}