{% extends 'app_general/components/base.html' %}

{% block site_title %}เกี่ยวกับ | {% endblock  %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">เกี่ยวกับโอโตริ</h2>
        <p><h6>ขนมอร่อย ส่งบ่อย ส่งเเม่น ค้นพบความอร่อยในทุกเส้นทางกับ "โอโตริ เเมน" ที่มอบความสุขผ่านขนมอร่อยที่น่าติดใจ สั่งได้ตลอดเวลา และมั่นใจในความสดใหม่ทุกครั้งที่คุณได้ลิ้มลอง</h6></p>
        <div>
            <h4>ก่อตั้ง 2021</h4>
            <p><h6>เริ่มต้นจากความฝันและความหลงใหล่ในการสร้างสรรค์ประสบการณ์ทานขนมที่ไม่เหมือนใคร โอโตริ เดลิเวอรีส์ ก่อตั้งด้วยความคิดที่ "ความอร่อยคือความสุข" และมุ่งมั่นที่จะสร้างสรรค์ความสุขนี้ให้คุณทุกครั้งที่เลือกเรา</h6></p>
        </div>
        <div>
            <h4>วัตถุดิบชั้นยอด</h4>
            <p><h6>ทุกๆ ขนมที่เรานำเสนอเป็นผลิตภัณฑ์ชั้นยอดที่คัดสรรวัตถุดิบคุณภาพ เพื่อให้คุณได้ลิ้มลองรสชาติที่เข้มข้นและหลากหลาย แบบไม่เหมือนใคร ทุกรสชาติเป็นผลมาจากการคัดเลือกวัตถุดิบที่มีคุณภาพเยี่ยมและสดใหม่ทุกวัน</h6></p>
        </div>
        <div>
            <h4>สุดยอดคำถาม</h4>
            <p><h6>คำถามที่คุณอาจมีในใจมีคำตอบที่นี่ที่ "โอโตริ เดลิเวอรีส์" ทางทีมงานของเราพร้อมให้คำปรึกษาและแก้ไขข้อสงสัยของคุณ ด้วยความใส่ใจและคุณภาพ เราเชื่อว่าคำถามของคุณคือโอกาสที่เราจะทำให้ประสบการณ์การสั่งซื้อของคุณเป็นที่ประทับใจไม่ว่าจะเป็นความอร่อยที่มีต้นกำเนิดจากวัตถุดิบคุณภาพ ก่อตั้งที่มีความฝันและความหลงใหล่ หรือคำถามที่คุณอยากรู้จากทีมงาน เราพร้อมที่จะนำคุณสู่โลกของความอร่อยและความสุขกับ "โอโตริ เดลิเวอรีส์" ทุกทีทุกเวลาที่คุณต้องการ</h6></p>
        </div>
    </div>
</section>
{% endblock %}