{% extends 'app_general/components/base.html' %}

{% block site_title %}กรุณาตั้งรหัสผ่านใหม่ | {% endblock  %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">กรุณาตั้งรหัสผ่านใหม่</h3>
        {% if validlink %}
            <h3 class="content-title">กรุณาตั้งรหัสผ่านใหม่</h3>
            <form  method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="button button-pimary" type="submit">บันทึก</button>
                </p>
            </form>
        {% else %}
            <h3 class="content-title">ลิ้งค์ใช้งานไม่ได้</h3>
            <p>ลิ้งค์ข้างต้นอาจถูกใช้งาน หรือ หมดอายุไปแล้ว</p>
            <p>
                <a class="button button-pimary" href="{% url 'HOME' %}">กลับไปยังหน้าแรก</a>
            </p>
        {% endif %}
    </div>
</section>
{% endblock %}
