{% extends 'app_general/components/base.html' %}

{% block site_title %}ส่งอีเมลล์รีเซ็ตรหัสผ่านเรียบร้อยเเล้ว | {% endblock  %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">ส่งอีเมลล์รีเซ็ตรหัสผ่านเรียบร้อยเเล้ว</h3>
        <p>กรุณาตรวจสอบที่อีเมลล์ของคุณ</p>
        <p>
            <a class="button button-pimary" href="{% url 'login' %}">กลับไปเข้าสู่ระบบ</a>
        </p>
    </div>
</section>
{% endblock %}