{% extends 'app_general/components/base.html' %}

{% block site_title %}ลืมรหัสผ่าน | {% endblock  %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">คุณลืมรหัสผ่านใช่หรือไม่ ?</h3>
        <p>กรุณากรอกอีเมลล์เพื่อรับ OTP ยืนยันตัวตน</p>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="button button-pimary" type="submit">ส่งอีเมลล์</button>
            </p>
        </form>
    </div>
</section>
{% endblock %}
